@font-face {
  font-family: ARlight;
  src: url(./assets/fonts/arabic/Cairo-Light.ttf);
}
@font-face {
  font-family: ARclassic;
  src: url(./assets/fonts/arabic/Cairo-Medium.ttf);
}
@font-face {
  font-family: ARbold;
  src: url(./assets/fonts/arabic/Cairo-Bold.ttf);
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
.App * {
  font-family: ARclassic !important;
}
.App-scroll-of {
  overflow: hidden !important;
}
