.profile {
   background-color: #ffcccc;
   width: 100%;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   overflow: hidden;
   gap: 50px;
}
.profile-stack {
   background-color: red;
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.profile-user {
   /* background-color: red; */
   display: flex;
   align-items: center;
   width: 90%;
   gap: 50px;
}
.profile-user img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
}
.profile-user-details {
   background-color: green;
   display: flex;
   flex-direction: column;
}

