.location {
   background-color: #ffcfcf;
   width: 100%;
   height: max-content;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   bottom: 0;
   position: relative;
   align-items: center;
}
.location-map {
   /* background-color: red; */
   width: 100%;
   height: 100%;
   position: relative;
}
.location-map-controls {
   background-color: #fff;
   width: 90%;
   height: 100px;
   position: absolute;
   bottom: 0px;
   border-top: solid 1px;
}
